Flask
gunicorn
scikit-learn
numpy
pandas
spacy
PyMuPDF             
python-docx        
joblib
python-dateutil    
resume-parser       
seaborn
matplotlib
wordcloud
xgboost

# spaCy model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.1/en_core_web_sm-3.8.1-py3-none-any.whl
